In [6]:
import pandas as pd
import numpy as np

In [10]:
file = pd.read_csv('marketing_customer_analysis.csv')
file.head()
file.shape

(9134, 24)

In [12]:
numerical = file.select_dtypes(include = np.number)
numerical

      Customer Lifetime Value  Income  ...  Number of Policies  Total Claim Amount
0                 2763.519279   56274  ...                   1          384.811147
1                 6979.535903       0  ...                   8         1131.464935
2                12887.431650   48767  ...                   2          566.472247
3                 7645.861827       0  ...                   7          529.881344
4                 2813.692575   43836  ...                   1          138.130879
...                       ...     ...  ...                 ...                 ...
9129             23405.987980   71941  ...                   2          198.234764
9130              3096.511217   21604  ...                   1          379.200000
9131              8163.890428       0  ...                   2          790.784983
9132              7524.442436   21941  ...                   3          691.200000
9133              2611.836866       0  ...                   1          369.600000

[9134 rows x 8 columns]

In [22]:

q1 = file.quantile(0.25)
q3 = file.quantile(0.75)
iqr = q3-q1

Customer                         0.0
State                            0.0
Customer Lifetime Value          0.0
Response                         0.0
Coverage                         0.0
Education                        0.0
Effective To Date                0.0
EmploymentStatus                 0.0
Gender                           0.0
Income                           0.0
Location Code                    0.0
Marital Status                   0.0
Monthly Premium Auto             0.0
Months Since Last Claim          0.0
Months Since Policy Inception    0.0
Number of Open Complaints        0.0
Number of Policies               0.0
Policy Type                      0.0
Policy                           0.0
Renew Offer Type                 0.0
Sales Channel                    0.0
Total Claim Amount               0.0
Vehicle Class                    0.0
Vehicle Size                     0.0
dtype: float64

In [ ]:
file = file.drop(['Number of Open Complaints'], axis=1)

In [ ]:
file['Response'].value_counts().plot(kind='bar')

In [ ]:

file = file[file['Response']== 'Yes']
file.shape

In [ ]:
catagorical = file.select_dtypes(include = np.object)
catagorical

In [ ]:
y = numerical['Total Claim Amount']
X = numerical.drop(['Total Claim Amount'], axis=1)

In [ ]:
transformer = MinMaxScaler().fit(X)
x_normalized = transformer.transform(X)
print(x_normalized.shape)
x_normalized=pd.DataFrame(x_normalized, columns=X.columns)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(catagorical)
print(encoder.categories_)
encoded = encoder.transform(catagorical).toarray()
print(encoded)
onehot_encoded = pd.DataFrame(encoded)#columns=encoder.categories_)
onehot_encoded.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoded = LabelEncoder().fit(catagorical['State']).transform(catagorical['State']) # ordered wrt value counts
label_encoded = pd.DataFrame(label_encoded, columns=['State'])
print(label_encoded)
label_encoded.value_counts()

In [ ]:
x_normalized

In [ ]:
X = pd.concat([x_normalized,label_encoded], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [ ]:
X_train.head()

In [ ]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
model